<div class="container" id="about-view">
  <div class="row">
    <div class="col" id="image-field">
      <a href="/images/about/profile.jpg">
        <img id="about-img" class="profile-img gallery" src="/images/about/profile.jpg" >
      </a>
    </div>
    <div class="col" id="description-field">
      <ul>
        <li><h2 class="about-title">About Laura</h2></li><br></br>
        <li><p class="text-eng">Laura defines her practice as an exploration. Travelling through her imagination, she invites serendipity and refuses to record things but to create them. Focusing on the materiality of photography, Laura studies how photography still exists as a three-dimensional object in time and space. Through continuous experimentation, she creates what she calls photographic objects.</p></li><br></br>
        <li><p class="text-fr"> Laura définit sa pratique comme une exploration. Voyageant à travers son imagination, elle invite la sérendipité et refuse d'enregistrer les choses mais de les créer. En se concentrant sur la matérialité de la photographie, Laura étudie comment la photographie existe encore comme objet tri-dimmensionnel dans le temps et l'espace. Grâce à des expérimentations continues, elle crée ce qu'elle appelle des objets photographiques. </p></li><br></br>
        <li><h2 class="about-title">Exhibitions/Publications/Awards</h2></li><br></br>
        <li><p class="about-date">2020</p></li>
        <li><p class="text-resume">- Gaia Obscura, Studio Baxton Maison de la Photographie Argentique, Bruxelles, Belgique</br>
        - Ouessant, Collectif BENTO, Brest, France</p></li><br></br>
        <li><p class="about-date">2019</p></li>
        <li><p class="text-resume">- Time to Think, Pil’Ours Festival International de Photographie, Saint-Gilles Croix de Vie, France</p></li><br></br>
        <li><p class="about-date">2018</p></li>
        <li><p class="text-resume">- Publication physique dans SHOTS magazine, issue 140, Forces of Nature</br>
        - Pil’Ours Festival International de Photographie, Saint-Gilles Croix de Vie, France</br>
        - Les rêveurs, Rêve, Belval Plaza, Luxembourg</br>
        - Hidden, Revela-T contemporary analog photography festival, Vilassar de Dalt, Espagne</br>
        - Publication physique dans She shoots Film, Issue 03, Metamorphosis</br>
        - Publication en ligne dans L’oeil de la photographie
        - Lauréate du Prix public, Pil’Ours Festival International de Photographie, Saint Gilles Croix de Vie, France</p></li><br></br>
        <li><p class="about-date">2017</p></li>
        <li><p class="text-resume">- Publication physique dans She shoots Film, Issue 01, Self-Portrait</p></li><br></br>
        <li><p class="about-date">2016</p></li>
        <li><p class="text-resume">- Regnum Naturæ, Threefold, Ugly Duck, Londres, Royaume-Uni</br>
        - De Rerum Natura, Interim Show, London College of Communication, Londres, Royaume-Uni</br>
        - Publication en ligne dans Phasesmag</br>
        - Publication en ligne dans Don’t take pictures</p></li><br></br>
        <li><p class="about-date">2015</p></li>
        <li><p class="text-resume">- Exploration, Interim Exhibition, London College of Communication, Londres, Royaume-Uni</p></li><br></br>
        <li><p class="about-date">2014</p></li>
        <li><p class="text-resume">- Transition, bip off (Biennale Internationale de la Photographie) Tout porte à croire, Galerie Saint-Luc, Liège, Belgique</p></li><br></br>
        <li><p class="about-date">2013</p></li>
        <li><p class="text-resume">- End-of-file, The Abandonned Communist Cinema, Cetatuie’s Arsenal, Cluj-Napoca, Roumanie</br>
        - 2506.9, voies OFF (Festival de la photographie) projection au Café de la nuit, Arles, France</p></li><br></br>
        <li><p class="about-date">2012</p></li>
        <li><p class="text-resume">- Monozygote, bip off Biennale Internationale de la Photographie, L’amour s’expose, Galerie Saint-Luc, Liège, Belgique</p></li><br></br>
      </ul>
    </div>
  </div>
</div>