<% if user_signed_in? %>
  <ul>
    <li>
      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      Utilisateur : <%= current_user.email %>
    </li>
  </ul>

<% else %>

  <header id="admin-header">

    <h1>Admin</h1>

    <ul style="display:inline">
      <li>    
        <%= link_to "Se connecter", new_user_session_path, class: "header_link_admin" %>
      </li>

      <li>
        <%= link_to "Créer compte", new_user_registration_path, class: "header_link_admin" %>
      </li>
      </ul>
    </ul>

  </header>

<% end %>