<div class="container" id="contact-container">
  <div class="row">
    <div class="col" id="contact-field">
      <div class="column">
        <h1> Contact</h1><br></br>
        <i class="far fa-envelope" id="contact-icons"></i><a style="color:#212529;text-decoration:none" href="mailto:aubree.laura@gmail.com" target="_top"><p>aubree.laura@gmail.com</p></a>
        <i class="fab fa-instagram" id="contact-icons"></i><a style="color:#212529;text-decoration:none" href="https://www.instagram.com/aubreelaura" target="_blank"><p>@aubreelaura </p></a>
        <i class="fab fa-linkedin-in" id="contact-icons"></i><a style="color:#212529;text-decoration:none" href="https://www.linkedin.com/in/laura-aubrée-27bb8a135" target="_blank"><p>Laura Aubrée </p></a>
      </div>
    </div>
    <div class="col" id="contact-img-field">
        <a href="/images/contact/Dualité_05.jpg" class="pop gallery">
          <img class="contact-img" src="/images/contact/Dualité_05.jpg">
        </a>
    </div>
  </div>
</div>