<h1 style="margin-top:20px">Modifier la Publication</h1>

<%= render 'form', publication: @publication %>

<%= link_to 'Voir la publication', publication_path %> |
<%= link_to 'Retour', dashboard_path %>
