<p>Bonjour <%= @resource.email %>!</p>

<p>Une demande de changement de mot de passe a été effectuée pour votre compte. Vous pouvez effectuer le changement via le lien ci-dessous :</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'initiative de cette demande, vous pouvez ignorer ce mail.</p>
<p>Votre mot de passe ne changera pas avant que vous accédiez au lien ci-dessus, et en créiez un nouveau.</p>

<small>www.laura-aubree.fr</small>
