<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué suite à un trop grand nombre de tentatives de connexion échouées.</p>

<p>Pour débloquer votre compte, vous pouvez cliquer sur le lien ci-dessous :</p>

<p><%= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>

<small>www.laura-aubree.fr</small>
