<footer>
  <div class="footer">
    <div class="column" id="social">
      <ul>
        <li><a href="https://www.instagram.com/aubreelaura" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/in/laura-aubrée-27bb8a135" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="mailto:aubree.laura@gmail.com" target="_top"><i class="far fa-envelope"></i></a></li>
      </ul>
    </div>
    <small>Made with ♥ by hsravo / © Laura Aubrée - 2021</small>
  </div>
</footer> 